---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Blog | Flash-Tech">
  <h2 class="text-2xl font-bold mb-4">Nos Articles</h2>
  <ul class="space-y-4">
    <li>
      <a href="#" class="text-blue-600 font-bold">Top 10 erreurs de sécurité sur les sites web</a>
      <p class="text-sm text-gray-600">Publié le 12 août 2025</p>
    </li>
    <li>
      <a href="#" class="text-blue-600 font-bold">Comment préparer un pentest légalement</a>
      <p class="text-sm text-gray-600">Publié le 20 août 2025</p>
    </li>
  </ul>
</MainLayout>
